#head{
    background-image:linear-gradient(180deg, #0000006a,rgba(170, 112, 232, 0.134)), url(/src/assets/head.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 621px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 50px;
    font-family: poppins;
   color: #fff;
   animation-name: ex;
   animation-duration: 2s;
   animation-iteration-count: infinite;
}
@keyframes ex {
    0% {
        background-image:linear-gradient(180deg, #0000006a,rgba(170, 112, 232, 0.134)), url(/src/assets/head.png);
    }
    25% {
        background-image: linear-gradient(180deg, #0000006a,rgba(214, 82, 46, 0.126)), url(/src/assets/head.png);
    }
    50% {
        background-image: linear-gradient(180deg, #0000006a,#0000006a), url(/src/assets/head.png);
    }
    
    
    
}
#image{
    width: 90%;
    align-items: center;
    display: flex;
    /* justify-content: center; */
}
#image #im1{
    height: 44px;
    width: 123px;
}
#text{
    /* padding: 16px 32px; */
    width: 90%;
}
#text p{
    font-size: 14px;
    text-shadow: 1px 1px #000;
    line-height: 22px;
    font-weight: 600;
    /* word-wrap: break-word; */
    /* word-break: break-all; */
    width: 100%;
}
#text h1{
    /* word-break: break-all; */
    text-shadow: 1px 1px #000;
    width: 100%;
    font-size: 32px;
    font-weight: 700;
    line-height: 53px;
}
#text span{
    color: rgba(247, 190, 89, 1);
}
#about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
#body{
    background: #000;
    /* height: 600px; */
    width: 90%;
    /* display: flex; */
    /* justify-content: center; */
    /* flex-direction: column; */
    height: auto;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
#btn{
    padding-top: 32px;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 16px;
}
#idd{
    display: flex;
    align-items: center;
}
#body a{
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
    font-family: poppins;
    text-decoration: none;
    color: rgba(31, 31, 31, 1);
    height: 48px;
    width: 155px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 8px;
    background-image: linear-gradient(to right ,rgba(232, 189, 112, 1), rgba(214, 158, 46, 1), rgba(237, 209, 133, 1));
    /* background-color: rgba(245, 235, 140, 1); */
    padding: 12px 24px 12px 24px;
}